html {
  --footer-height: 230px;
  --footer-padding: 100px 0;
  --footer-color: #fff;
  --footer-background-color: #002a38;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #f5f6f7;
  color: #4e5358;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}


.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.app-main-container {
  min-height: calc(100vh - var(--footer-height));
}

footer {
  height: var(--footer-height);
  padding: var(--footer-padding);
  color: var(--footer-color);
  background-color: var(--footer-background-color);
  text-align: center;
  width: 100%;

  .power-logo {
    height: 14px;
    margin-left: 5px;
    transform: translateY(4px);
  }
}

.color-blue {
  color: #0f00ff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px
  }
}
